<!-- <h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p> -->
<div class="mainview">
  <h1 class="titledown">Add a new student</h1>
  <div class="form-center">
    <%= render 'form' %>
  </div>
</div>
