<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
<h1>welcome to _System name__</h1>

<%if logged_in? %>
  <h1>Create a New: </h1>

  <%= link_to 'Student', new_student_path %><br>
  <%= link_to 'Instructor', new_instructor_path %><br>
  <%= link_to 'Course', new_course_path %><br>
  <%= link_to 'Cohort', new_cohort_path %><br>
<%end %>
