
<h1>welcome to ____system name____</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%# if logged_in? %>
<!-- you are logged in -->
<%#end %>


<%= link_to 'Students', students_path %><br>
<%= link_to 'Instructors', instructors_path %><br>
<%= link_to 'Courses', courses_path %><br>
<%= link_to 'Cohorts', cohorts_path %><br>
