<!-- <p>Find me in app/views/courses/index.html.erb</p> -->
<h1>Courses#index</h1>
    <% @courses.each  do |p| %>
    <%= p.name %><br>
    <%= p.class_hours %><br>
    <% p.id %>
      <%= link_to "Edit", edit_course_path(p.id) %><br>
      <%= link_to "Create New", new_course_path %><br>

  <% end %>
