/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     margin: 0;
     font-family: 'Maven Pro', sans-serif;
     overflow: scroll;
     background-color:

 }

.maingrid {
  display: grid | inline-grid;
  grid-template: auto/auto auto auto;
  grid-gap: 10px;
  padding: 10px;
 }



 .mainview {
   margin-left: 26%;
 }

 /* .titledown-reg {
   margin-left: -36%;
   text-align: center;
   font-weight: bold;
 } */

 .titledown {
   margin-top: 15%;
   /* margin-left: 17%; */
   font-weight: bold;
   text-align:center;
 }

 .titledown-home {
   margin-top: 15%;
   margin-left: 4%;
 }

.direction {
  text-align: center;
  /* margin-left: 10%; */
}
/*
 .titledown-login {
   margin-top: 15%;
   margin-left: 17%;
   font-weight: bold;
 } */

 .login-home {
   font-size: 31px;
   /* margin-left: 27% */
   text-align: center;
 }


 .form-center {
   margin-left: 38%
 }

 .form-center-new-student {
   margin-top: 17%;
   font-size: 16px;
   margin-left: 40%;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 25%;
     background-color: #f1f1f1;
     position: fixed;
     height: 100%;
     overflow: auto;
 }

.lidown {
  margin-top: 80%;
}

 li a {
     display: block;
     color: #000;
     padding: 13px 75px;
     text-decoration: none;
 }

.home-welcome{
  text-align: center;
}


 li a.active {
     background-color: #4CAF50;
     color: white;
 }

 li a:hover:not(.active) {
     background-color: #555;
     color: white;
 }


.index-grid {
    display: grid;
    grid-column: auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}
    /* grid-template: auto/auto auto auto auto;
    grid-gap: 2px; */

.index-cells {
    /* padding: 1em;
    border: black 1px solid;
    height: 75vh;
    text-align: center; */

    border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    /* width: 200px; */
    height: 150px;
}

.index-cells-cohort {
      border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    height: 150px;
}

.index-cell-course {
      border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    height: 150px;
}

.index-cells-stu {
      border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    height: 150px;
}


.index-cells-c {
    /* padding: 1em;
    border: black 1px solid;
    height: 75vh;
    text-align: center; */

    border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    width: 200px;
    height: 150px;
}


.index-cells-ins {
    /* padding: 1em;
    border: black 1px solid;
    height: 75vh;
    text-align: center; */

    border-radius: 25px;
    border: 2px solid orange;
    background-color: orange;
    padding: 20px;
    /* width: 200px; */
    height: 150px;
}
